<div class="menu bg-base-100 w-full rounded-box">
    <ul>
        <li>
            <NavLink class="menu-title active" Match="NavLinkMatch.All" href="">
                <span class="material-icons">home</span>
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="menu-title" href="parts">
                <span class="material-icons">inventory_2</span>
                Parts
            </NavLink>
        </li>
        <li>
            <NavLink class="menu-title" href="projects">
                <span class="material-icons">folder</span>
                Projects
            </NavLink>
        </li>
        <li>
            <NavLink class="menu-title" href="inventory">
                <span class="material-icons">warehouse</span>
                Inventory
            </NavLink>
        </li>
    </ul>
</div> 